In [11]:
a,b=5,'A' #can use a=b=5 as well
print(type(a),type(b))

<class 'int'> <class 'str'>

In [13]:
a=input() #value always stored as a string
b=input()
print(a+b)

1
2
12

In [15]:
#split-divides the input into multiple ones using space as a dividor
t="Hi Lm Hk"
print(t.split())
#still treated as string

['Hi', 'Lm', 'Hk']

In [16]:
t="10 20 30"
res=int(t.split())
print(res) #error because int function expects only 1 value, can use loop, map, list for doing so

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [ ]:
number -> int float complex
string -> str
sequence -> list tuple set
key, value -> dict

In [20]:
i=5j
print(type(i))
i='5j'
print(type(i))
i='''5
j'''    #can use ''' multi line strings ''' and " when we need to write himal's "
print(type(i))

<class 'complex'>
<class 'str'>
<class 'str'>

In [21]:
n=[1,2,3,4] #list
print(n,type(n))

[1, 2, 3, 4] <class 'list'>

In [22]:
n=(1,2,3,4) 
print(n,type(n))

(1, 2, 3, 4) <class 'tuple'>

In [23]:
n={1,2,3,4} 
print(n,type(n))

{1, 2, 3, 4} <class 'set'>

In [29]:
n={1:'we',2:'wdf',3:'fbed',4:5} 
print(n,type(n))

{1: 'we', 2: 'wdf', 3: 'fbed', 4: 5} <class 'dict'>

In [31]:
print(100//30)# // floor division
print(2**4) #power

3
16

In [ ]:
#no increment operators in python

In [ ]:
#left shift multiply by 2 right shift divide

In [ ]:
#program to multiply 2 numbers

In [51]:
a=int(input())
b=int(input())
r=0
while(b!=0):
    if(b&1==1):    #remaining all other bits except LSB are 0 because of 1
        r=r+a
    a=a<<1
    b=b>>1
print(r)

12
20
240

In [46]:
l=[2,3,5,4]   #returns boolean
key = 5
print(key in l)

True

In [50]:
a=6
b=6.0  
print(id(a),id(b))
print(a is b) #compares the ids if they are referring to same object the ids will be same else different.
print(a == b)

140594009795024 140594015305904
False
True

In [52]:
a,b=5,6
max= a if a>b else b
print(max)

6

In [54]:
#Leap Year
a=int(input())
if(a%4==0 and a%100!=0):
    print("Leap year")
else:
    print("Not Leap Year")

2022
Not Leap Year

In [ ]:
#happy number

In [60]:
x=int(input())
for i in range(2,20):
    if x%i==0: continue
    print(i, end=" ")
print()
for i in range(2,20):
    if x%i==0: pass
    print(i, end=" ")
#pass will just let it be

17
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 18 19
2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [66]:
#1
#121
#12321
n=3
j=1
for i in range(1,n+1):
    a=j**2
    print(a)
    j=j*10+1

1
121
12321

In [68]:
n=3
for i in range(1,n+1):
    a=(10**i)//9
    print(a**2)

1
121
12321

In [70]:
#check if the list has atleast 1 odd number
l=[2,4,8,2,82]
for i in l:
    if i%2!=0:
        print("ODD")
        break
else:print("EVEN")  #will execute only when loop terminates after completing all the iteractions

EVEN

In [82]:
#check if prime using for-else
n=int(input())
for i in range(2, n):
    if(n%i==0):
        print("Not Prime")
        break;
else:
    print("Prime")

17
Prime

In [88]:
n,m=5,10
for i in range(5,11):
    for j in range(1,11):
        print(i*j, end=" ")
    print()

5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [96]:
#negative index
s="HimalPandey"
print(s[-1])
print(s[::-2]) #slice works like range, if no start index starts from front and ends at last if no ending index is mentioned
print(s[1:4:-1]) #nothing as output as starting<ending
#can use step value as well
#can use -ve step value also

y
ydalmH

In [97]:
s="test"
print(s*3) #string is allowed to multiply with number only

testtesttest

In [100]:
s="*"
n=4
for i in range(1,n+1):
    print(s*i)
for i in range(1,n):
    print(s*(n-i))

*
**
***
****
***
**
*

In [103]:
l=[1,12,13,15,16,4.3,"Himal",[4,5,6]]
print(l)
#collection of heterogeneous values
#duplicates allowed
#order is retained so using index is fine

[1, 12, 13, 15, 16, 4.3, 'Himal', [4, 5, 6]]